@font-face {
    font-family: 'Dirty Headline';
    src: url('./fonts/DirtyHeadline.woff') format('woff'),
    url('./fonts/DirtyHeadline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PunkRockShow';
    src: url('./fonts/PunkRockShow-Regular.woff') format('woff'),
    url('./fonts/PunkRockShow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

